* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: auto;
}
.contact-icon {
  width: 60px;
  height: 60px;
}

header {
  padding: 12px 12px;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  margin-bottom: 50px;
  background-color: #ff922b;
}

.heading-name {
  padding: 0 20px;
  font-size: 32px;
  display: flex;
  align-items: center;
}

nav {
  padding: 10px 20px;
  text-align: end;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.nav-icon {
  width: 40px;
  height: 30px;
}

nav a {
  font-size: 18px;
  padding: 12px 10px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  background-color: #82c91e;
  border-radius: 12px;
}
.main-contact-section {
  display: flex;
  justify-content: space-between;
  background-color: #8ce99a;
  border-radius: 20px;
  box-shadow: 0 0 12px #e9b98c;
  margin-bottom: 50px;
  height: 80vh;
}
.contact-details {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
  width: 70%;
}
.input-fields {
  margin-left: 20px;
}
.phone-number {
  display: flex;
  gap: 10px;
}
.country-code {
  border-radius: 8px;
}
input {
  font-size: 20px;
  padding: 10px 0px;
  padding-right: 30px;
  border-radius: 8px;
  width: 100%;
  padding-left: 5px;
}

input:focus {
  font-size: 20px;
  padding-left: 5px;
  padding-right: 0;
}
label {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 550;
}
.add-contact-btn {
  padding: 10px 10px;
  border-radius: 10px;
  font-size: 26px;
  font-weight: 600;
  grid-column: 1/3;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #40c057;
  margin: 0 auto;
  transition: 0.3s 0.2s;
}

.add-contact-btn:hover {
  transform: scale(1.1);
}
.add-cont-icon {
  width: 30px;
  height: 27px;
  fill: #228be6;
}
.contact-book-image {
  width: 500px;
  height: 500px;
  text-align: end;
  margin: auto 0;
}

.about-app h2 {
  font-size: 56px;
  text-align: center;
  margin-top: 15px;
  color: #228be6;
  margin-bottom: 30px;
  background: linear-gradient(to bottom, #228be6, #99e9f2);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.section-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  column-gap: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 50px;
}
.infos-column-1 {
  grid-column: 1/3;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
}
.infos-column-2 {
  grid-column: 2/4;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
}
.infos-column-1 h3,
.infos-column-2 h3 {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 40px;
  color: #40c057;
}
.infos-column-1 p,
.infos-column-2 p {
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 32px;
}

.img-column {
  grid-column: 3/4;
  width: 100%;
  height: 100%;
  padding: 20px 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-column-2 {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 80%;
  height: 90%;
  padding: 20px 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
