* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: auto;
  overflow: scroll;
  background-color: #dee2e6;
}
.contact-icon {
  width: 60px;
  height: 60px;
}

header {
  padding: 12px 12px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin-bottom: 50px;
  background-color: #ff922b;
}

.heading-name {
  padding: 0 20px;
  font-size: 32px;
  display: flex;
  align-items: center;
}

nav {
  padding: 10px 20px;
  text-align: end;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.nav-icon {
  width: 40px;
  height: 30px;
}

nav a {
  font-size: 18px;
  padding-left: 10px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  background-color: #ffc078;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 12px;
}

.search {
  position: relative;
  display: flex;
  gap: 20px;
  margin-left: 50px;
}

.contact-icon-search {
  width: 40px;
  height: 40px;
}

.searching-box {
  font-size: 20px;
  width: 400px;
  height: 40px;
  border-radius: 20px;
  padding-left: 50px;
  padding-top: 3px;
  padding-bottom: 3px;
  height: 45px;
}
.searching-box:focus {
  font-size: 20px;
  padding-left: 50px;
}
select {
  outline: none;
}
option:first-child {
  background-color: white;
}
option:hover {
  background-color: black;
}
option {
  background-color: #dee2e6;
}

.search-box-icon {
  width: 35px;
  height: 40px;
  position: absolute;
  top: 2.5px;
  left: 5px;
}

.filter-search {
  border: none;
  font-size: 20px;
  font-weight: 700;
  padding-right: 50px;
}

.filter-module {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  padding: 0 10px;
  border-radius: 10px;
  background-color: white;
}

.filter-icon {
  width: 30px;
  height: 30px;
}

.sort-box {
  display: flex;
}

.sort-icon {
  width: 30px;
  height: 40px;
}

.sort-module {
  display: flex;
  border: 3px solid black;
  border-radius: 10px;
  padding: 0 10px;
  align-items: center;
  background-color: white;
}
.display-none-input {
  display: none;
}

.no-contact {
  text-align: center;
  margin: 40px auto;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  display: none;
}
.view-all-btn {
  font-size: 22px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #ced4da;
  border: 2px solid black;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  width: 170px;
}

.tick-icon {
  height: 30px;
  width: 30px;
}
table {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
  /* display: none; */
}

td {
  margin-bottom: 20px;
  background: linear-gradient(to right, #c0e9df, #96d2ff);
  background-repeat: no-repeat;
  background-position: center;
}

table {
  width: 100%;
}

.each-contact {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 20px;
}
.each-contact {
  border: 5px solid black;
  border-radius: 20px;
  padding: 10px 20px;
  box-shadow: 0 0 10px;
}

.star-icon {
  width: 30px;
  height: 30px;
  fill: white;
  margin: auto 0;
}
.starred {
  fill: yellow;
}

.detial-section {
  grid-column: 2/3;
  grid-row: 2/3;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition:
    max-height 0.5s ease,
    opacity 0.5s ease;
}

.detial-section a {
  text-decoration: none;
}

tr {
  display: grid;
}
.each-contact p {
  font-size: 24px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.person-name {
  margin-right: auto;
  font-weight: bold;
  padding-top: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.detial-section p {
  overflow-wrap: break-word;
}
.inbox-icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  cursor: pointer;
}

.email-icon {
  fill: #868e96;
  stroke: black;
  margin-right: 3px;
}

.ph-icon {
  fill: green;
  stroke: green;
  margin-right: 3px;
}

.add-icon {
  fill: #fd7e14;
  stroke: #fd7e14;
  margin-right: 3px;
}

.other-btn {
  grid-column: 3/4;
  grid-row: 2/3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition:
    max-height 0.5s ease,
    opacity 0.5s ease;
}

.ed-icons {
  width: 40px;
  height: 40px;
  stroke: black;
}

.view-btn {
  font-size: 22px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #74c0fc;
  border: 2px solid black;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
  cursor: pointer;
}
.btn {
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #74c0fc;
  cursor: pointer;
  transition: transform 0.2s ease-in 0.1s;
}
.btn:first-child {
  background-color: #37b24d;
}

.btn:nth-child(2) {
  background-color: #f03e3e;
}

.btn:hover {
  transform: scale(1.05);
}

/* All the check box section are below
   Helps is toggling the contents inside a book*/

#all-toggle:checked ~ table .all-toggle-detail {
  max-height: 600px;
  opacity: 1;
  display: grid;
}
#all-toggle:checked ~ table .all-toggle-btn {
  max-height: 600px;
  opacity: 1;
  display: flex;
}
#view-toggle-1:checked ~ .detial-section {
  max-height: 600px;
  opacity: 1;
}
#view-toggle-1:checked ~ .other-btn {
  max-height: 600px;
  opacity: 1;
}
#view-toggle-2:checked ~ .detial-section {
  max-height: 600px;
  opacity: 1;
}
#view-toggle-2:checked ~ .other-btn {
  max-height: 600px;
  opacity: 1;
}

@media (max-width: 1024px) {
  .view-all-btn {
    font-size: 20px;
  }
  .tick-icon {
    width: 28px;
    height: 28px;
  }
  .each-contact p {
    font-size: 26px;
  }
  .inbox-icon {
    height: 26px;
    width: 26px;
  }
  select {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .searching-box {
    width: 250px;
    font-size: 16px;
  }
  .search-box-icon {
    width: 30px;
    height: 35px;
  }
  .searching-box {
    font-size: 18px;
    padding-left: 40px;
  }
  .searching-box:focus {
    font-size: 18px;
    padding-left: 40px;
  }
  .filter-module {
    width: 210px;
  }
  select {
    width: 160px;
  }
  .filter-search {
    font-size: 18px;
  }
  .filter-icon {
    width: 26px;
    height: 26px;
  }
  .sort-icon {
    width: 26px;
    height: 26px;
  }
  .sort-by {
    width: 120px;
  }
  .each-contact p {
    font-size: 22px;
  }
  .each-contact {
    column-gap: 0;
  }
}

@media (max-width: 426px) {
  .search {
    flex-direction: column;
    margin-left: 20px;
    gap: 10px;
  }
  .searching-box {
    width: 350px;
  }
  .sort-module {
    width: 180px;
    height: 30px;
  }
  .sort-icon {
    width: 26px;
    height: 26px;
  }
  select {
    width: 160px;
  }
  .view-all-btn {
    font-size: 16px;
    padding: 5px;
    width: 100px;
    letter-spacing: 0;
  }
  .tick-icon {
    height: 20px;
    width: 20px;
  }
  .person-name {
    font-size: 20px;
    margin: auto 0;
  }
  .view-btn {
    margin: auto 0;
    font-size: 16px;
    padding: 4px 0;
    text-align: center;
    height: 30px;
    width: 50px;
  }
  /* .other-btn {
    width: 20px;
    height: 20px;
  } */
  .each-contact p {
    font-size: 18px;
    margin: auto 0;
  }
  .detial-section {
    grid-column: 1/3;
  }
  .btn {
    padding: 5px;
  }
  .ed-icons {
    height: 24px;
    width: 24px;
  }
  .star-icon {
    width: 25px;
    height: 25px;
  }
  .each-contact {
    background-size: cover;
    padding: 6px 10px;
    border: 3px solid black;
  }
  .email-icon {
    height: 20px;
    width: 20px;
    fill: #868e96;
    stroke: black;
  }

  .ph-icon {
    height: 20px;
    width: 20px;
    fill: green;
    stroke: green;
  }

  .add-icon {
    height: 20px;
    width: 20px;
    fill: #fd7e14;
    stroke: #fd7e14;
  }
}

@media (max-width: 376px) {
  .searching-box {
    width: 300px;
    height: 34px;
    font-size: 16px;
  }
  .searching-box:focus {
    font-size: 16px;
  }
  .search-box-icon {
    top: 0;
  }
  .each-contact {
    column-gap: px;
  }
  .filter-search {
    font-size: 16px;
  }
  .btn {
    padding: 5px;
  }
  .ed-icons {
    height: 20px;
    width: 20px;
  }
  .view-btn {
    font-size: 14px;
    padding-right: 3px;
    padding-left: 3px;
  }
}

@media (max-width: 321px) {
  .searching-box {
    width: 280px;
  }
  .each-contact p {
    font-size: 16px;
    margin: auto 0;
  }
}
